

#SearchTenders {
	form {
		.search-row-1,.search-row-2 {
			margin-bottom:12px;
			@media (max-width: 768px) {	
				
				margin-bottom:0;
				.col-md-4 {
					margin-bottom:6px;
				}
			}
		}
		
	}
}